body {
  padding: 0;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: Montserrat-Regular;
  src: url("Font/Montserrat-Regular.ttf");
  font-weight: 100; }

.kontener {
  position: relative;
  width: 800px;
  height: 800px;
  max-width: 800px;
  min-height: 800px;
  background-image: url("../PIC/backg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*=col-] {
  min-height: 1px;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.strLine1 {
  width: 150%;
  height: 117px;
  background-color: #b41700;
  margin-top: 211px; }

button {
  width: 200px;
  height: 71px;
  position: absolute;
  margin-top: 49%;
  margin-left: 300px;
  background-color: #b41700;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 2px solid #b41700;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 21px 64px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.tit, .test {
  text-align: center;
}

.tit {
  width: 100%;
  font-size: 24px; }



.foot {
  position: absolute;
  margin-top: 458px;
}

#logoPlaneta {
  position: absolute;
  margin-left: 300px;
  margin-top: 68%;

}
#test {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 30px; }

.square1{

  position: absolute;
  width: 700px;
  height: 50px;
  border: 2px solid black;
  border-radius: 18px;
  margin-left: 56px;

}
.square2{
  display: block;
  position: absolute;
  width: 700px;
  height: 50px;
  border: 2px solid black;
  border-radius: 18px;
  margin-left: 56px;
  margin-top:60px;

}
.square3{
  display: block;
  position: absolute;
  width: 700px;
  height: 50px;
  border: 2px solid black;
  border-radius: 18px;
  margin-left: 56px;
  margin-top: 120px;

}
.square4{
  display: block;
  position: absolute;
  width: 700px;
  height: 50px;
  border: 2px solid black;
  border-radius: 18px;
  margin-left: 56px;
  margin-top: 180px;

}

#tables{
margin-top:30px;

}

label {
  background:#aaa;
  color:#fff;
  border-radius:8px;
  padding-left: 500px;
  padding-bottom: 22px;
  cursor:pointer;
}

label:hover {
  background:#b41700;
}


